body {
    background-color: #201f31;
    overflow-x: hidden;

}

.navbar {
    z-index: 500;
    position: fixed;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7)10%, transparent);
    transition: background-color 0.5s ease;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 15px 15px;

}

.navbar-left {
    float: left;
}


.navbar-right {
    float: right;
}


.nav-scrolled {
    background-color: rgba(32, 31, 49, .8);
    backdrop-filter: blur(10px);
}

.searchbar {
    position: relative;
    z-index: 1;
}

.search-list {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
    margin-top: 5px;
    display: block;
    background-color: #2d2b44;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .3);
}

.search-card {
    display: block;
    color: white;
    text-align: left;

    a {
        width: 100%;
        padding: 10px;
        display: block;
        border-bottom: 1px dashed rgba(255, 255, 255, .1);
        padding-bottom: 15px;

    }

    .search-poster {
        width: 50px;
        float: left;
        overflow: hidden;

        img {
            width: 100%;
            height: 70px;
            object-fit: cover;
            object-position: center;
        }
    }

    .search-detail {
        font-size: 12px;
        padding-left: 65px;
        color: #aaa;
        word-spacing: -3px;
        letter-spacing: -.1px;

        h3 {
            font-size: 14px;
            line-height: 1.2em;
            max-width: 100%;
            margin-bottom: 5px;
            height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
            color: white;
        }

        .search-japanese {
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 5px;
            max-width: 100%;
        }
    }
}


.search-all {
    background-color: #ffbade;
    font-size: 16px;
    padding: 15px;
    display: flex;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
    }
}

.main-slide-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #201f31;
}

.slide-description {

    position: absolute;
    bottom: 60px;
    max-width: 800px;
    margin-left: 20px;
    font-size: 0.95rem;
    color: white;
    line-height: 1.6;
    padding-left: 30px;

    h1 {
        font-size: 40px;
        line-height: 1.3em;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .slide-button button {
        background-color: #ffbade;
        color: black;
        padding: 2px 2px;
        border-radius: 28px;
        font-size: 16px;
        padding: 15px 15px;
    }

    .rank {
        margin-bottom: 20px;
        color: #ffbade;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3em;
    }
}

.description {
    margin-top: 10px;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.slide-detail {
    display: flex;
    gap: 25px;
    word-spacing: -2px;
    letter-spacing: -1px;
    margin: 20px 0;

    div {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

.slide-cover {
    position: absolute;
    right: 0;
    top: 0;
    left: 30%;
    height: 100%;
    background-color: aqua;
}


.slide-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-overlay {
    background: linear-gradient(90deg, #201f31 0, rgba(32, 31, 49, 0) 50%, #201f31 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trending-img {
    img {
        height: 318px;
        width: 100%;
        object-fit: cover;

    }
}

.trending-wrapper {
    margin-bottom: 4rem;
    padding: 0 40px;
    color: white;
}

.trending-animes {
    margin-top: 20px;
    padding: 0 0px;
    position: relative;
}

.slider-button-next,
.slider-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 10px;

}

.slider-button-next {
    right: -30px;
}

.slider-button-prev {
    left: -30px;
}

.slide-item {
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
    overflow: visible;
    padding-left: 30px;
}



.placement {
    width: 40px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;

    span {
        position: absolute;
        bottom: 0;
        font-size: 20px;
        text-align: center;
        line-height: 1em;
        left: 0;
    }

    .trending-title {
        position: absolute;
        text-align: left;
        transform: rotate(-180deg);
        bottom: 30px;
        left: -8px;
        overflow: hidden;
        max-height: 190px !important;
        text-overflow: ellipsis;
        font-size: 20px;
        white-space: nowrap;
        line-height: 40px;
        font-weight: 500;
        word-spacing: -5px;
        writing-mode: tb-rl;
        pointer-events: none;

    }

}



.popper-content {
    color: white;
    backdrop-filter: blur(20px);
    text-align: left;
    word-wrap: break-word;
    display: block;
    max-width: 300px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.4em;
    padding: 20px;


    .popper-detail {
        margin-bottom: 15px;
        font-size: 13px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }


    .float-left {
        float: left;
        display: flex;
        gap: 5px;
    }

    .span-type {
        background-color: #ffb7dc;
        color: black;
        border-radius: 5px;
        font-weight: 600;
        padding: .25em .4em;
    }



    .popper-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 1.3em;
        word-spacing: -2px;
    }


    .popper-description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 15px;
        color: #babcc2;
    }

    .popper-additional {
        color: #babcc2;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        word-spacing: -2px;

    }

    .popper-text {
        color: white;
    }

    .popper-button {
        width: 100%;
        align-items: center;
        color: black;
        display: flex;
        justify-content: space-between;


        .popper-watch-button {
            background-color: #fdaadd;
            width: calc(100% - 48px);
            font-size: 14px;
            border-radius: 26px;
            padding: 0 10px;
            font-weight: 500;
        }
    }
}

.recent-container {
    color: white;
    margin-bottom: 50px;
    padding-right: 25px;
    display: block;
}

.recent-sub-container {
    margin: 0 32px;
    padding: 0 15px;
    width: 100%;
    display: flex;
}

.recent-animes-container {
    width: 75%;
    float: left;
}

.recent-animes {
    display: flex;
    flex-wrap: wrap;
}

.recent-anime {
    margin: .7rem .5rem;
    width: calc(16.66% - 1rem);
}

.anime-img {
    position: relative;
    overflow: hidden;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;

    .recent-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    img {
        width: 100%;
        height: 295px;
        object-fit: cover;
        object-position: center;
    }

}

.anime-img::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: linear-gradient(0deg, #201f31 0, rgba(32, 31, 49, 0) 40%);
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity .2s ease;
    cursor: pointer;
}

.anime-img:hover::after {
    opacity: 1;
}

.anime-img:hover {
    .recent-play {
        display: block;
        z-index: 21;
        cursor: pointer;
    }
}


.display-section {
    width: 100%;
    background-color: rgba(255, 255, 255, .05);
    margin-bottom: 2rem;
    overflow: hidden;

    .display {
        display: flex;
        padding: 3rem 0 0;
        align-items: center;
    }

    .display-png {
        width: 320px;
        height: 320px;
        flex-shrink: 0;
    }

    .display-swiper {
        flex-grow: 1;
        width: calc(100% - 320px);
        margin-left: 50px;
    }

    .display-img {
        width: 200px;
        height: 200px;
    }

}

.recent-anime-title {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: .5rem;
    word-spacing: -4px;
    letter-spacing: -.5px;
}


.recent-anime-type {
    margin-top: 5px;
    color: #9f9fa0;
    word-spacing: -6px;
    font-size: 14px;
    font-weight: 300;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    margin: 3px 8px;
}


.sidebar {
    width: 25%;
    float: right;
    padding-left: 30px;
    display: block;
    color: white;
}

.genres-container {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: #373646;
}

.genres-list {
    overflow: hidden;
    list-style: none;
    padding: 0;
    display: block;

    li {
        display: block;
        float: left;
        width: 31%;
        margin: 0 1% 3px;
        display: list-item;
        padding: 9px 10px;
        color: white;
        font-weight: 500;
    }
}


.featured-container {
    display: block;

    .featured {
        width: 100%;
        padding: 0 15px;
        margin: 0 32px;
    }

    .sections {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .section {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .subsection {
        min-height: 300px;
        width: 100%;

        h2 {
            font-size: 22px;
            font-weight: 600;
            color: #ffbade;
            margin-bottom: 1rem;
        }
    }

    .anime-block {
        background-color: transparent;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, .075);
    }

    .list-image {
        width: 60px;
        flex-shrink: 0;
        border-radius: .3rem;
        z-index: 2;
        overflow: hidden;
        display: block;
        margin-right: 15px;
        height: 76px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .list-detail {
        color: white;
        font-size: .9em;
        padding-right: 1rem;

        .list-title {
            line-height: 1.5;
            font-weight: 600;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-spacing: -2px;
        }

        .list-info {
            margin-top: 8px;
            display: flex;
            align-items: center;
        }


    }

    .list-score {
        display: flex;
        align-items: center;
        gap: 5px;
    }



}



.anime-detail-page {
    width: 100%;
    padding-top: 100px;
}

.anime-detail {
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
    overflow: hidden;

}

.enust {
    position: relative;
    z-index: 5;
    display: flex;
    gap: 50px;
    padding: 70px 0 70px 45px;
}

.abuzer {
    position: absolute;
    inset: 0;
}



.mahmut {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    filter: blur(15px) grayscale(1) brightness(0.6);
    background-position: center;

}

.anime-container {
    position: relative;


    .ani-img {
        width: 180px;
        flex-shrink: 0;
        box-shadow: 0 40px 40px rgba(0, 0, 0, .2);
        background-color: rgba(255, 255, 255, .1);
        display: block;
        height: 270px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .ani-detail {
        flex: 1;
        padding-right: 60px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;

        .ani-info {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 35px;
        }

        .ani-buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 35px;

            .ant-btn {
                border-radius: 30px;
                color: black;
                box-shadow: #201f31;
            }

            .watch-button {
                background-color: #ffbade;
            }

            .add-button {
                background-color: white;
            }
        }


        .ani-title {
            font-size: 40px;
            line-height: 1.1em;
            margin-bottom: 20px;
            font-weight: 600;
        }



    }

    .ani-synopsis {
        font-size: 15px;
        line-height: 1.5em;
        font-weight: 300;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding-right: 55px;
    }


    .ani-side-info-wrap {
        overflow: hidden;
        flex: 0 1 calc(25% - 30px);
        max-width: calc(25% - 30px);
        background: rgba(255, 255, 255, .1);
        padding: 15px 20px;
        font-size: 14px;
        line-height: 1.4em;
        font-family: Arial, Helvetica, sans-serif;

    }


    .info-title {
        color: white;
        font-weight: 600;
        margin-bottom: 10px;
        margin-right: 4px;
    }

    .info-value {
        color: #e7e7e8;

    }

    .info-genre-value {
        color: #e7e7e8;
    }


    .info-element {
        margin-bottom: 10px;
    }

    .info-genres {
        padding: 10px 0 5px;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        margin-bottom: 10px;
    }

    .genre-item {
        display: inline-block;
        margin-right: 8px;
        border: solid 2px rgba(255, 255, 255, .3);
        padding: 2px 8px;
        border-radius: 20px;
    }
}


.similar-container {
    color: white;
    margin-bottom: 50px;
    padding-right: 25px;
    display: block;
}

.similar-animes-wrapper {
    margin: 0 32px;
    padding: 0 15px;
    width: 100%;
    display: flex;
}

.similar-animes-container {
    width: 75%;
    float: left;
}

.similar-animes {
    display: flex;
    flex-wrap: wrap;
}

.similar-anime {
    margin: .7rem .5rem;
    width: calc(16.66% - 1rem);
}


.similar-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.anime-img:hover {
    .similar-play {
        display: block;
        z-index: 21;
        cursor: pointer;
    }
}



.similar-anime-title {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: .5rem;
    word-spacing: -4px;
    letter-spacing: -.5px;
}


.similar-anime-type {
    margin-top: 5px;
    color: #9f9fa0;
    word-spacing: -6px;
    font-size: 14px;
    font-weight: 300;
}

.most-popular-sidebar {
    width: 100%;
    padding: 0 15px;
    background: rgba(255, 255, 255, .05);

}

.sections {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.section {
    flex: 0 0 25%;
    max-width: 25%;
}

.subsection {
    min-height: 300px;
    width: 100%;

    h2 {
        font-size: 22px;
        font-weight: 600;
        color: #ffbade;
        margin-bottom: 1rem;
    }
}

.anime-block {
    background-color: transparent;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .075);
}

.list-image {
    width: 60px;
    flex-shrink: 0;
    border-radius: .3rem;
    z-index: 2;
    overflow: hidden;
    display: block;
    margin-right: 15px;
    height: 76px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.list-detail {
    color: white;
    font-size: .9em;
    padding-right: 1rem;

    .list-title {
        line-height: 1.5;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-spacing: -2px;
    }

    .list-info {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }


}

.list-score {
    display: flex;
    align-items: center;
    gap: 5px;
}